/* global styles */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
  border: 0;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --color-bg: #21164f;

  /* TO DO: Debug this does not seem to work */
  --color-bg-dark: hsl(from var(--color-bg) h s calc(l - 10%));
  --color-bg-darkest: hsl(from var(--color-bg) h s calc(l - 20%));

  --color-bg-variant: #1f2769;
  --color-primary: #f7796b;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-variant: #18bfff;

  /* TO DO: color naming should be semantic, i.e. describe what is not "white" */
  --color-white: #fff;

  --color-light: rgba(255, 255, 255, 0.6);

  --color-bg-hover: rgba(0, 0, 0, 0.3);

  --color-overlay: rgba(0, 0, 0, 0.3);

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Montserrat', sans-serif;

  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
}

/* Re-Usable Styles */

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  padding: 0 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
}

section > h2,
section > h5 {
  text-align: center;
  color: var(--color-light);
}

section > h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* Media Queries (Medium Devices) */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

/* Media Queries (Small Devices) */

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section > 2 {
    margin-bottom: 2rem;
  }
}

/* Accessibility */
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
